[submodule "contactg"]
	path = src/plugins/contactg
	url = https://github.com/kk580kk/ContactG.git
[submodule "sso"]
	path = src/plugins/sso
	url = https://github.com/kk580kk/sso.git
	[submodule "sso"]
    	path = sso
    	url = https://github.com/kk580kk/sso.git
[submodule "src/plugins/sso"]
	path = src/plugins/sso
	url = https://github.com/kk580kk/sso.git
